[submodule "site-lisp/lsp-bridge"]
path = site-lisp/lsp-bridge
url = https://github.com/manateelazycat/lsp-bridge.git

[submodule "site-lisp/insert-translated-name"]
path = site-lisp/insert-translated-name
url = git@github.com:lizqwerscott/insert-translated-name.git
[submodule "site-lisp/tabby.el"]
	path = site-lisp/tabby.el
	url = https://github.com/alan-w-255/tabby.el.git
[submodule "site-lisp/multi-vterm"]
	path = site-lisp/multi-vterm
	url = git@github.com:lizqwerscott/multi-vterm.git
