[submodule "site-lisp/lazycat-theme"]
path = site-lisp/lazycat-theme
url = https://github.com/manateelazycat/lazycat-theme.git

[submodule "site-lisp/emacs-application-framework"]
path = site-lisp/emacs-application-framework
url = https://github.com/emacs-eaf/emacs-application-framework.git

[submodule "site-lisp/lsp-bridge"]
path = site-lisp/lsp-bridge
url = https://github.com/manateelazycat/lsp-bridge.git

[submodule "site-lisp/blink-search"]
path = site-lisp/blink-search
url = https://github.com/manateelazycat/blink-search.git

[submodule "site-lisp/popweb"]
path = site-lisp/popweb
url = https://github.com/manateelazycat/popweb.git

[submodule "site-lisp/insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "site-lisp/codeium.el"]
	path = site-lisp/codeium.el
	url = https://github.com/Exafunction/codeium.el.git
