auto-save-list
custom.el
pyim
tmp/
history
data/
var
.cache
elpa
eaf
netease-cloud-music
quelpa
recentf
*.db
parinfer-rust
codeium
blink-search
lsp-bridge
popweb
tree-sitter/*
librime
/straight/repos/
/straight/build/
/straight/build-cache.el
